<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="main-head">
            <h1 id='logo' >Blog com Flask</h1>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('adicionar') }}">Adicionar</a></li>
            </ul>
        </nav>
    </header>
    
    {% block body %}
    
    {% endblock %}

</body>
</html>